.carousel {
  height: 300px;
  perspective: 300px;
}

.card-panel {
  padding: 5px;
}

.icon-image {
  max-height: 3rem;
}

h6 {
  margin-left: 10px;
}

.row {
  margin-bottom: 0px;
}

.blockquote {
  font-size: smaller;
}

footer.page-footer {
  margin: 0;
}
