.carousel {
  height: 300px;
}

.card-panel {
  padding: 5px;
}

.icon-image {
  width: 20px;
}

h6 {
  margin-left: 10px;
}

.row {
  margin-bottom: 0px;
}

.blockquote {
  font-size: smaller;
  margin: 0 0;
}

.teal.darken-4 {
  padding: 10px;
  color: white;
}

.lang-button {
  top: 1%;
}
